.sidenav{
    width: 94px;
    background-color: #FBFAFF;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    .nav_items{
        margin-top: 50vh;
        margin-left: calc(94px / 2);
        transform: translate(-50%, -50%);
        padding: 0;
        li{
            width: 100%;
            margin: .3rem 0;
            button{
                width: 45px;
                height: 46px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                border-color: transparent;
                outline-color: transparent;
                padding: .7rem;
                svg path{
                    fill: #5F6388;
                }
                &:hover , &.active{
                    & svg path{
                        fill: #fff;
                    }
                    background-color: #5051F9;
                    border-color: transparent;
                    outline-color: transparent;
                }
            }
        }
    }
}